{
    "parser": "babel-eslint",

    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },

    "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "modules": true
    },

    "plugins": [
        "standard"
    ]
}

